/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

/* own component declarations start */

/* own component declarations end */

@import 'tailwindcss/utilities';

html {
  font-size: 17px;
}

:root {
  background: #fff;
  margin: initial !important;
  max-width: initial !important;
  min-width: initial !important;
}

body > * {
  margin: initial !important;
}
