/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'webext-base-css/webext-base.css';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

.ellipsis {
  @apply whitespace-no-wrap;
  @apply overflow-hidden;
  text-overflow: ellipsis;
}

.markdown p,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown pre {
  @apply mb-1;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  @apply font-bold;
}

.markdown h1 {
  @apply text-xl;
  @apply leading-tight;
}

.markdown h2 {
  @apply text-lg;
  @apply leading-tight;
}

.markdown h3 {
  @apply text-base;
  @apply leading-tight;
}

.markdown h4 {
  @apply text-base;
  @apply leading-tight;
}

.markdown p,
.markdown li {
  @apply text-sm;
}

.markdown pre,
.markdown code {
  @apply text-xs;
}

.markdown ul {
  @apply list-disc;
  @apply list-inside;
}

.markdown li {
  @apply mb-1;
}

.markdown ul li ul li {
  @apply ml-5;
  @apply list-none;
}

.markdown a {
  @apply text-blue-400;
}

html {
  font-size: 17px;
}

:root {
  background-color: #fff;
  margin: initial !important;
  max-width: initial !important;
  min-width: initial !important;
}

body > * {
  margin: initial !important;
}

.header-icon {
  @apply text-xs;
  @apply text-gray-500;
}

.header-icon:hover {
  @apply text-gray-600;
}

.tab-icon {
  @apply text-xs;
  @apply text-gray-400;
}

.tab-icon:hover {
  @apply text-gray-500;
}

@media (prefers-color-scheme: dark) {
  .header-icon {
    @apply text-xs;
    @apply text-gray-500;
  }

  .header-icon:hover {
    @apply text-gray-400;
  }

  .tab-icon {
    @apply text-xs;
    @apply text-gray-500;
  }

  .tab-icon:hover {
    @apply text-gray-400;
  }

  :root {
    background-color: #292a2d;
  }
}
